.last-rate {
    display: flex;
    justify-content: flex-end;
}

.rate-block{
    margin-right: 10px
}

.rate-title{
    color:#C1C1C1;
}

.rate-value{
    font-size: 1.5em;
    text-align: center;
    color:#7BDCB5;
}


